@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #4ade80;
  --fontcolor:  #0a0a0a;
}

[data-theme="dark"] {
    --background: #0a0a0a;
    --foreground: #ededed;
    --fontcolor: #4ade80;
  }

body {
  color: var(--fontcolor);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}